.section-one {
    height: auto;
    width: inherit;
    display: flex;
    flex-direction: row;
}


.section-one-left h3 {
    color: var(--color-4);
    margin: 0px;
    font-size: 2rem;
}

.section-one-left p {
    font-size: 1.5rem;
    margin: 8px 0px;
    padding: 0px 1%;
}

.section-one-left,
.section-one-right {
    height: auto;
    width: 50%;
}

.profile {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}


.section-one-left {
    padding: 2%;

}

.section-one-left .div-container {
    margin: 2%;
    padding: 2%;
    border: 2px solid #12343b;
    border-radius: 1%;
}



.profile-container {
    padding: 25%;
}

.profile-container .div-border{
    position: relative;
}

.profile-text {
    position: absolute;
    left: 80px;
}


/* MOBILE VIEW */
@media screen and (min-width:1px) and (max-width:890px) {
    .section-one {
        flex-direction: column;
    }

    .section-one-left {
        order: 2;
        padding: 5%;
        width: 90%;
    }

    

    .section-one-left .div-container h3{
        font-size: 1.27rem;
    }

    .section-one-left .div-container p{
        font-size: 0.8rem;
    }

    .section-one-right {
        width: 100%;
    }

    .profile-container {
        padding: 15% 35%;
    }
    .section-one-right .profile-text {
        left: 55px;
    }

    .profile-text{
        font-size: 0.7rem;
    }
}

/* DESKTOP VIEW */
@media screen and (min-width:890px) and (max-width:4000px) {
    .profile-container {
        padding: 16% 38%;
    }

    .section-one-left {
        width: 55%;
    }

    .section-one-right {
        width: 45%;

    }
}